// {
//   "presets": [
//     ["es2015", { "modules": false }]
//   ]
// }
// after downloading babel-preset-stage-2, add ["stage-2"] to the presets array
{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    [
      "stage-2"
    ]
  ]
}